.Header {
    color: white;
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0rem 1rem;
    text-align: center;
    transition: 200ms;
}

hr {
    border: none;
    border-top: 10px dotted white;
    height: 1px;
    width: 50%;
}